<div class="wrap">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
    <ul style="list-style-type: disc; margin-left: 2em;">
        <li>View all blocks</li>
        <li>Add new blocks</li>
        <li>Manage block categories</li>
    </ul>
</div>