<div class="editor-pane">
  <div class="editor-top-bar">
    <div class="editor-top-bar-title">PHP Logic</div>
    <div class="editor-top-bar-actions">
      <button type="button" class="editor-action-button" title="Format Code"><ion-icon name="code-outline"></ion-icon></button>
      <button type="button" class="editor-action-button" title="Copy Code"><ion-icon name="copy-outline"></ion-icon></button>
      <button type="button" class="editor-action-button" id="save-block" title="Save Changes"><ion-icon name="save-outline"></ion-icon></button>
    </div>
  </div>
  <div class="editor-container-wrapper">
    <div id="monaco-editor"></div>
    <div id="context-editor"></div>
    <div id="acf-form-container">
      <iframe src="{{ acf_form_url }}" frameborder="0" style="width: 100%; height: 100%;"></iframe>
    </div>
    <div id="settings-container"></div>
  </div>
</div>
