<div class="editor-preview">
    <div class="preview-container">
        <div class="preview-frame-container" data-breakpoint="xl">
            <iframe id="preview-frame" src="{{ function('get_permalink', block.ID) }}"></iframe>
        </div>
    </div>
</div>
