<div class="editor-sidebar">
    <div class="editor-tabs">
        <button type="button" class="tab-button active" data-tab="php" data-title="PHP Logic">
            <ion-icon name="code-slash-outline"></ion-icon>
        </button>
        <button type="button" class="tab-button" data-tab="template" data-title="HTML Template">
            <ion-icon name="document-text-outline"></ion-icon>
        </button>
        <button type="button" class="tab-button" data-tab="css" data-title="CSS Styles">
            <ion-icon name="brush-outline"></ion-icon>
        </button>
        <button type="button" class="tab-button" data-tab="global-css" data-title="Global CSS">
            <ion-icon name="globe-outline"></ion-icon>
        </button>
        <button type="button" class="tab-button" data-tab="js" data-title="JavaScript">
            <ion-icon name="logo-javascript"></ion-icon>
        </button>
        <button type="button" class="tab-button" data-tab="context" data-title="Block Context">
            <ion-icon name="eye-outline"></ion-icon>
        </button>
        <button type="button" class="tab-button" data-tab="acf" data-title="ACF Fields">
            <ion-icon name="construct-outline"></ion-icon>
        </button>
        <button type="button" class="tab-button" data-tab="settings" data-title="Editor Settings">
            <ion-icon name="settings-outline"></ion-icon>
        </button>
    </div>
</div>
