<div class="editor-top-bar">
    <div class="editor-top-bar-title">PHP Logic</div>
    <div class="editor-top-bar-actions">
        <div class="editor-status">
            <div class="editor-status-indicator"></div>
            <span class="editor-status-text">Ready</span>
        </div>
        <button type="button" class="editor-action-button" title="Format Code">
            <ion-icon name="code-outline"></ion-icon>
        </button>
        <button type="button" class="editor-action-button" title="Copy Code">
            <ion-icon name="copy-outline"></ion-icon>
        </button>
        <button type="button" class="editor-action-button" id="save-block" title="Save Current Tab">
            <ion-icon name="save-outline"></ion-icon>
        </button>
    </div>
</div>
